version: 0.10.2.{build}
branches:
  only:
    - master
skip_tags: true
max_jobs: 1
configuration: Release
platform: x86
clone_depth: 50
image: Visual Studio 2017
before_build:
- ps: .\update-libraries.ps1
- cmd: nuget restore
build:
  project: Hearthstone Collection Tracker.sln
  verbosity: minimal
assembly_info:
  patch: true
  file: AssemblyInfo.cs
  assembly_version: '$(appveyor_build_version)'
after_build:
  7z a HearthstoneCollectionTracker.zip "%APPVEYOR_BUILD_FOLDER%\Hearthstone Collection Tracker\bin\x86\Release\HearthstoneCollectionTracker.dll"
artifacts:
  - path: HearthstoneCollectionTracker.zip
    name: HearthstoneCollectionTracker
#- path: Hearthstone Collection Tracker\bin\x86\Release\HearthstoneCollectionTracker.dll
#  name: Release-dll
#- path: Hearthstone Collection Tracker\bin\x86\Debug\HearthstoneCollectionTracker.dll
#  name: Debug-dll
#- path: Hearthstone Collection Tracker\bin\x86\Debug\HearthstoneCollectionTracker.pdb
#  name: Debug-pdb
